body, ul {
  margin: 0;
  font-family: 'Helvetica Neue';
  padding: 0;
}

a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.container-box {
  color: #666;
}

.center {
  left: 50%;
  position: absolute;
  top: 50%;  
  transform: translate(-50%, -50%);
}
