.top-nav {
  background: #2196F3;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  width: 100%;
  > .nav-menu {
    color: #FFF;
  }
}

.nav-menu {
  &.-right {
    float: right;
  }

  > .link {
    color: inherit;
    text-decoration: none;
  }
}
