<article class="repo-detail">
  <h3 class="repo-detail__header">{{name}}</h3>
  <a href="{{html_url}}" class="repo-detail__link" target="_blank">{{full_name}}</a>
  <p class="repo-detail__desc">{{description}}</p>
</article>
